/*
 *
 * MMM-FortnightSchedule
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.module.MMM-FortnightSchedule {
    max-width: 300px;
}

.schedule {
    width: 100%;
}

 .schedule-line {
     width: 100%;
     font-size: 20px;
     line-height: 24px;
     border-bottom: solid 1px #222;
     padding: 4px 0;
 }

 .timeslot {
     text-align: right;
     white-space: nowrap;
     padding-right: 2em;
     width: 1ex;
 }

 .entry {
     text-align: left;
 }