/*
 *
 * MMM-FortnightSchedule
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-FortnightSchedule {
    max-width: 500px;
}

table.schedule-list {
    width: 100%;
}

td span.schedule-title,
td span.schedule-location {
    display: block;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td span.schedule-title {
    color: #fff;
    padding-top: 2px;
}

td span.schedule-location {
    font-size: 16px;
}