/*
 *
 * MMM-FortnightSchedule
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-FortnightSchedule {
    max-width: 500px;
    width: 300px;
    font-size: 24px;
}

table.schedule-list {
    width: 100%;
    border-collapse: collapse;
}

tr.schedule-day {
    border-bottom: solid 1px #3f3f3f;
}

td.schedule-timeslot {
    vertical-align: top;
    text-align: left;
}

td span.schedule-title,
td span.schedule-location {
    display: block;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td span.schedule-title {
    color: #fff;
    padding-top: 2px;
}

td span.schedule-location {
    font-size: 16px;
    line-height: 16px;
}